*{
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;

}
.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;

}

.tasbha-text {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
}

.counter-input {
  font-size: 18px;
  text-align: center;
  width: 60px;
  margin: 10px 0;
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 5px;
}

.counter-button, .reset-button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.counter-button {
  background-color: #3498db;
  color: white;
}

.counter-button:hover {
  background-color: #2980b9;
}

.reset-button {
  background-color: #e74c3c;
  color: white;
}

.reset-button:hover {
  background-color: #c0392b;
}